<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css"/>
  <script src="/webjars/font-awesome/6.2.0/js/all.min.js"></script>


  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-link" th:href="@{'/store'}"> <i class="fas fa-home mx-1"></i>  </a>
      <a class="nav-link" th:href="@{'/store'}"> <i class="fas fa-user mx-1"></i>  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topnav">

          <li class="nav-item">
            <a class="nav-link" th:href="@{'/products'}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{'/orders'}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/products/form'}" >&emsp;Add Product&emsp;</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/login'}" >Sign In</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/login?logout'}" th:action="perform_logout">Logout</a>
          </li>
        </ul>
      </div>


    </nav>
  </div>
</head>
<body>
<div class="container" style="margin-top: 50px">
  <table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Order date</th>
      <th>Payment date</th>
      <th>Customer ID</th>
      <th>Customer first name</th>
      <th>Customer last name</th>
      <th></th>
    </tr>
    </thead>
    <tr th:each="order, stat : ${orders}">
      <td th:text="${order.id}">1</td>
      <td th:text="${order.date}">Data 1</td>
      <td th:text="${order.payment.getDate()}">Payment</td>
      <td th:text="${order.customer.getId()}">Customer id</td>
      <td th:text="${order.customer.getFirstName()}">Customer id</td>
      <td th:text="${order.customer.getLastName()}">Customer id</td>
      <td><a href="#" th:href="@{'/orders/' + ${order.id}}"><i class="fa-solid fa-circle-info"></i></a></td>
    </tr>
  </table>
</div>

</body>
</html>